@{
    ViewData["Title"] = "Home Page";
}
<br/>
<br/>
<p>Date: <input type="text" required=true id="datepicker" ></p>
      
      <button type="button" class="btn btn-default" id = "submitButton" >Submit</button>
      <br/>
      <h1>ForecastAPI</h1>
      <canvas id="canvas"></canvas>
      <br/>
      <h1>Forecast Datasky Api</h1>
      <canvas id="canvas1"></canvas>

